# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

# Frontend
frontend/.idea/
frontend/.ionic/
frontend/.sourcemaps/
frontend/.sass-cache/
frontend/.tmp/
frontend/.versions/
frontend/coverage/
frontend/www/
frontend/node_modules/
frontend/tmp/
frontend/temp/
frontend/platforms/
frontend/plugins/
frontend/plugins/android.json
frontend/plugins/ios.json
frontend/$RECYCLE.BIN/

frontend/.DS_Store
frontend/Thumbs.db
frontend/UserInterfaceState.xcuserstate

# Backend
backend/node_modules
